.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #1890ff;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
}

.formWrapper {
  width: 50%;
}

.buttonWrapper {
  margin-top: 15px;
}
