.snakeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}
.grid {
  outline: 3px solid #2a324e;
  border-radius: 5px;
  background-color: #f0f2f5;
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gridItem {
  width: 25px;
  height: 25px;
}
