.container {
  margin-top: -200px;
  padding: 10px;
  width: 90%;
  height: auto;
  font-size: 20px;
  color: #2a324e;
}

.table {
  width: 100%;
}

.th {
  width: 25%;
  border-bottom: 2px solid #1890ff;
}

.td {
  width: 25%;
  border-bottom: 2px solid #1890ff;
}
